h1{
    color: rgb(54, 19, 180);
    text-align: center;
    font-size: 40px;
}
a{
    padding-right:80px ; 
    font-size:19px ;
}
.g1{
    color: rgb(168, 50, 50);
}
.oglobo{
    color: rgb(35, 35, 114);
}
.valor{
    color: rgb(88, 126, 22);
}
.ge{
    color: rgb(101, 202, 0);
}
.cartola{
    color: chocolate;
}
.globoplay{
    color: rgb(255, 0, 0);
}
.gshow{
    color: chocolate;
}
.quem{
    color: black;
}
.receitas{
    color: blueviolet;
}
.gigaglooo{
    color: rgb(0, 206, 206);
}
.lula{
    padding-top: 20%;
    color: rgb(255, 0, 0);
    font-size:50px;
}